<div class="contact-item">
    <div class="contact-info">
        <div class="contact-name"><%= contact.name %></div>
        <p>Email : <%= contact.email %></p>
        <p>Tél : <%= contact.phone %></p>
    </div>
</div>